@import "compass/css3/transform";
@import "compass/css3/box-sizing";


/*********** Variables *************/
$border-width: 2px;//1px;

$name-col-width: 17.5em;
$content-col-width: 35em;
$m-line-height: 1.25em;
$cell-side: 2.25em;


/************* Mixins *****************/
@mixin rotate {position: absolute;}
@mixin hand-border {border-image: url('../img/line.png') 3 repeat repeat;}
@mixin strong-border {border: $border-width solid black; @include hand-border;}
@mixin strong-border-bottom {border-bottom: $border-width solid black; @include hand-border;}
@mixin strong-border-right {border-right: $border-width solid black; @include hand-border;}
@mixin strong-border-top {border-top: $border-width solid black; @include hand-border;}
@mixin light-border {box-shadow: 1px 0 0 0 #CCCCCC;}
@mixin transform($operation) {
	transform: $operation;
	-webkit-transform: $operation;
}


/************* CSS *****************/
body {
	width: 960px; margin: 0px auto; padding: 15px;
	background: white url('../img/graph.gif') repeat;
	// font-family: 'Bad Script', cursive; 
	// font-family: 'Permanent Marker', cursive;
	// font-family: 'Walter Turncoat', cursive;
	// font-family: 'Nothing You Could Do', cursive;
	font-family: 'Coming Soon', cursive;

	h1 {text-align: center; font-weight: normal; margin-bottom: 0px;}
	.instructions {
		text-align: center; margin: 5px 0 15px 0;
		ul {display: inline-block; text-align: left; margin: 0px;}
	}

	input:invalid {outline: 2px solid red; box-shadow: none; display: inline !important;}
}



#matrix {
	position: relative; padding: 2.5em;
	@include strong-border;

	a {color: black;}

	.editable {
		width: 100%; height: 100%; @include box-sizing(border-box);
		&:hover{cursor: pointer; background-color: rgba(255, 255, 102, 0.75);}
	}
	.editableForm {line-height: normal; padding: 0; width: 75%; height: 75%; display: none;}
	.editable, .total_value {padding: 0.2em 0;}


	a.grip {
		background: transparent url('../img/dnd.png') no-repeat center center;
		display: inline-block; width: 1.25em; text-decoration: none; padding: 0 0 0 2em;
		&.row {float: left;}
		&.col {float: right;}
	}
	.empty_row {border: none; height: $cell-side;}

	.crit-label {float: left; width: $name-col-width; box-sizing: border-box;
								padding-right: 3.1em; text-align: right;}

	.crit-row {
		position: relative; float: left; height: 15.5em; width: $content-col-width;
		.c0 {left: 0px;}

		.crit {
			@include rotate;
			width: $name-col-width; height: 2em;
			position: absolute; bottom: 0px;
			@include transform(rotate(-66deg));
			@include transform-origin(bottom, left);
			@include strong-border; border-width: 0 0 2px 0;
		}
	}

	.weight-label-content {
		@include rotate;
		@include transform-origin(bottom, right);
		@include transform(rotate(45deg));
		border-width: 0px 0 2px 0 !important;
		box-shadow: 0 0 0 0 !important;

		&.top {top: -2em;}
		.weight-label-text {position: absolute; bottom: -0.1875em; right: 2.5em;}
	}

	#option_rows {
		position: relative;
	}

	.m-row {
		&.weights {
			.options-label {
				text-align: left; @include light-border;
				a {padding-left: 2em;}
			}
			.weight {@include strong-border; border-width: 2px 0 2px 0;}
		}
		.option-name {
			width: $name-col-width; text-align: right; border-width: 0 2px 2px 0;
			& .editable {padding-right: 1em;}
		}
		.option-values {float: left;}
		.m-cell {
			@include box-sizing(border-box);
			height: $cell-side;
			float: left; @include hand-border; border-style: solid;
		}
		.value {@include light-border; width: $cell-side; text-align: center; border-width: 0 0 2px 0;}
	}
}