#workspace, #workspace * {
  box-sizing: border-box; }

html {
  font-size: 39.6px; }

body {
  margin: 0; }

#workspace {
  margin: 0 auto;
  width: 100%;
  height: 16.5rem;
  max-width: 1200px; }
  #workspace #lego-space {
    position: absolute;
    top: 0;
    left: calc(50% - 12.5rem);
    width: 25rem;
    height: 25rem;
    perspective: 2000px;
    perspective-origin: 60% top;
    transform-style: preserve-3d; }

.plane {
  position: absolute;
  top: 5%;
  left: 33%;
  width: 10rem;
  background-color: rgba(237, 237, 237, 0.25);
  transform-origin: bottom left;
  transform-style: preserve-3d; }
  .plane .row {
    height: 1rem; }
  .plane .cell {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray; }
  .plane .cell:first-of-type {
    border-left: 1px solid lightgray; }
  .plane .row:first-of-type .cell {
    border-top: 1px solid lightgray; }
  .plane .axis {
    transform-origin: bottom left;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    border-width: 0;
    width: 13rem;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0; }
  .plane .cell.active {
    background-color: #b2f43c; }

.plane-x {
  background-color: #ebfccc; }
  .plane-x .cell:before {
    content: '\25CF \25CF \25CF \25CF';
    font-size: 0.75rem;
    width: 100%;
    height: 100%;
    display: block;
    color: #dcfaa5;
    line-height: 60%;
    word-wrap: break-word; }

.lego {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  transform-style: preserve-3d;
  transition: 0.5s transform, 0.2s left, 0.2s top;
  cursor: -webkit-grab;
  cursor: grab; }
  .lego > div {
    position: absolute;
    width: 1rem;
    height: 1rem;
    opacity: .7; }
    .lego > div.front {
      transform: translateZ(-1rem); }
    .lego > div.back {
      transform: translateZ(0rem); }
    .lego > div.top {
      transform-origin: top;
      transform: rotateX(-90deg); }
    .lego > div.bottom {
      transform-origin: bottom;
      transform: rotateX(90deg); }
    .lego > div.left {
      transform-origin: left;
      transform: rotateY(90deg); }
    .lego > div.right {
      transform-origin: right;
      transform: rotateY(-90deg); }
  .lego.blue > div {
    background-color: #0582ff;
    border: 1px solid #0069d1; }
  .lego.green > div {
    background-color: #00ad41;
    border: 1px solid #007a2e; }
  .lego.yellow > div {
    background-color: #f8d404;
    border: 1px solid #c6a903; }
  .lego.orange > div {
    background-color: #ff7c0a;
    border: 1px solid #d66400; }
  .lego.red > div {
    background-color: #f8272a;
    border: 1px solid #e5070b; }
  .lego.purple > div {
    background-color: #f34ed0;
    border: 1px solid #f01ec3; }

#lego-set, #controls {
  width: 66%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

#lego-set {
  text-align: center; }
  #lego-set .lego-pile {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: .33em;
    border-width: 3px;
    border-style: solid;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab; }
    #lego-set .lego-pile:before, #lego-set .lego-pile:after {
      content: '';
      display: block;
      position: absolute;
      top: -.2rem;
      height: .2rem;
      width: 33%; }
    #lego-set .lego-pile:before {
      left: .1rem; }
    #lego-set .lego-pile:after {
      right: .1rem; }
    #lego-set .lego-pile.blue, #lego-set .lego-pile.blue:before, #lego-set .lego-pile.blue:after {
      background-color: #0582ff;
      border-color: #0069d1; }
    #lego-set .lego-pile.green, #lego-set .lego-pile.green:before, #lego-set .lego-pile.green:after {
      background-color: #00ad41;
      border-color: #007a2e; }
    #lego-set .lego-pile.yellow, #lego-set .lego-pile.yellow:before, #lego-set .lego-pile.yellow:after {
      background-color: #f8d404;
      border-color: #c6a903; }
    #lego-set .lego-pile.orange, #lego-set .lego-pile.orange:before, #lego-set .lego-pile.orange:after {
      background-color: #ff7c0a;
      border-color: #d66400; }
    #lego-set .lego-pile.red, #lego-set .lego-pile.red:before, #lego-set .lego-pile.red:after {
      background-color: #f8272a;
      border-color: #e5070b; }
    #lego-set .lego-pile.purple, #lego-set .lego-pile.purple:before, #lego-set .lego-pile.purple:after {
      background-color: #f34ed0;
      border-color: #f01ec3; }

#controls {
  font-size: 16px;
  z-index: 10; }
  #controls legend {
    font-weight: bold;
    font-size: larger;
    padding-left: .7em;
    padding-right: .7em; }
  #controls .instructions {
    color: #37474f;
    font-size: 15px; }
    #controls .instructions .desc p {
      margin: 0.5em 0 0.5em 0.5em; }
    #controls .instructions .desc span {
      color: black;
      font-size: 16px; }

#empty {
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0; }
