// Colors
$lego-board-color: rgba(235, 252, 204, 1);
$lego-blue: #0582ff;
$lego-green: #00ad41;
$lego-yellow: #f8d404;
$lego-orange: #ff7c0a;
$lego-red: #f8272a;
$lego-purple: #f34ed0;

// Units
$normal-font-size: 16px;
$rem: 39.6px;
$lego-space-side: 25rem;

@mixin lego-pile($lego-color) {
    background-color: $lego-color; border-color: darken($lego-color, 10%);
}

#workspace, #workspace * {box-sizing: border-box;}
html {font-size: $rem;}
body {margin: 0;}

#workspace {
  margin: 0 auto;
  width: 100%; height: 16.5rem;
  max-width: 1200px;

  #lego-space {
    position: absolute; top: 0; left: calc(50% - #{$lego-space-side / 2});
    width: $lego-space-side; height: $lego-space-side;
    perspective: 2000px;
    perspective-origin: 60% top;
    transform-style:preserve-3d;
    // transform: rotateX(-10deg) rotateY(-15deg);
  }
}

.plane {
  position: absolute; top: 5%; left: 33%;
  width: 10rem;
  background-color: rgba(237,237,237,0.25);
  transform-origin: bottom left;
  transform-style: preserve-3d;

  .row {
    height: 1rem;
  }

  .cell {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  .cell:first-of-type {border-left:1px solid lightgray;}
  .row:first-of-type .cell {border-top:1px solid lightgray;}
  .axis {
    transform-origin: bottom left;
    background-color: lightgray; margin: 0; padding: 0; border-width: 0;
    width: 13rem; height: 1px;
    position: absolute; left: 0; bottom: 0;
  }
  .cell.active {background-color: darken($lego-board-color, 30%);}
}

// .plane-x * {border-color: red !important;}
// .plane-z * {border-color: gray !important;}
.plane-x  {
  background-color: $lego-board-color;
  .cell:before {
    content: '\25CF \25CF \25CF \25CF';
    font-size: 0.75rem;
    width: 100%; height: 100%;
    display: block;
    color: darken($lego-board-color, 8%);
    line-height: 60%;
    word-wrap: break-word;
  }
}

.lego {
  position: absolute; top: 0; left: 0; width: 1rem; height: 1rem;
  transform-style: preserve-3d;
  transition: 0.5s transform, 0.2s left, 0.2s top; cursor: grab;

  & > div {
    position: absolute;
    width: 1rem; height: 1rem;
    opacity: .7;

    &.front {transform: translateZ(-1rem);}
    &.back {transform: translateZ(0rem);}
    &.top {transform-origin: top; transform: rotateX(-90deg);}
    &.bottom {transform-origin: bottom; transform: rotateX(90deg);}
    &.left {transform-origin: left; transform: rotateY(90deg);}
    &.right {transform-origin: right; transform: rotateY(-90deg);}
  }

  // TODO sass w/interpolate
  &.blue > div {background-color: $lego-blue; border: 1px solid darken($lego-blue, 10%);}
  &.green > div {background-color: $lego-green; border: 1px solid darken($lego-green, 10%);}
  &.yellow > div {background-color: $lego-yellow; border: 1px solid darken($lego-yellow, 10%);}
  &.orange > div {background-color: $lego-orange; border: 1px solid darken($lego-orange, 10%);}
  &.red > div {background-color: $lego-red; border: 1px solid darken($lego-red, 10%);}
  &.purple > div {background-color: $lego-purple; border: 1px solid darken($lego-purple, 10%);}
}

%details {width: 66%; max-width: 800px; margin-left: auto; margin-right: auto;}

#lego-set {
  @extend %details;
  text-align: center;
  .lego-pile {
      display: inline-block; width: 1rem; height: 1rem;
      margin: .33em;
      border-width: 3px; border-style: solid;
      position: relative; cursor: grab;
      &:before, &:after {
          content: '';
          display: block;
          position: absolute; top: -.2rem;
          height: .2rem; width: 33%;
      }
      &:before {left: .1rem;}
      &:after {right: .1rem;}

      // TODO sass w/interpolate
      &.blue, &.blue:before, &.blue:after {@include lego-pile($lego-blue);}
      &.green, &.green:before, &.green:after {@include lego-pile($lego-green);}
      &.yellow, &.yellow:before, &.yellow:after {@include lego-pile($lego-yellow);}
      &.orange, &.orange:before, &.orange:after {@include lego-pile($lego-orange);}
      &.red, &.red:before, &.red:after {@include lego-pile($lego-red);}
      &.purple, &.purple:before, &.purple:after {@include lego-pile($lego-purple);}
  }
}

#controls {
  @extend %details;
  font-size: $normal-font-size;
  z-index: 10;

  legend {font-weight: bold; font-size: larger; padding-left: .7em; padding-right: .7em;}
  .instructions {
    color: #37474f; font-size: 15px;
    .desc {
       p {margin: 0.5em 0 0.5em 0.5em}
       span {color: black; font-size: 16px;}
    }
  }
}

#empty {position: absolute; left: 0; right: 0; width: 0; height: 0;}