<fieldset>
  <legend>Titles</legend>
  <h1>H1 Title</h1>
  <h2>H2 Title</h2>
  <h3>H3 Title</h3>
  <h4>H4 Title</h4>
  <h5>H5 Title</h5>
  <h6>H6 Title</h6>
</fieldset>

<fieldset>
  <legend>Lists</legend>
  <div>Unordered List</div>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>
</fieldset>

<fieldset>
  <legend>Buttons</legend>
  <a href="#" class="button">Blue Button</a>
  <span class="lgray-bg"><a href="#" class="button">Gray Button</a></span>
</fieldset>

<fieldset>
  <legend>Background Colors</legend>
  <table>
    <tr><th>#Code</th><th>Color</th></tr>
    <tr><td>dblue</td><td class="dblue">&nbsp;</td></tr>

    <tr class="lblue-bg">
      <td>lblue</td><td><a href="#" class="button">button</a></td>
    </tr>
    
    <tr class="orange-bg">
      <td>orange</td><td><a href="#" class="button">button</a></td>
    </tr>

    <tr class="lgray-bg">
      <td>lgray</td><td><a href="#" class="button">button</a></td>
    </tr>

    <tr class="dgray-bg">
      <td>dgray</td><td><a href="#" class="button">button</a></td>
    </tr>

    <tr class="lmidnight-bg">
      <td>lmidnight</td><td><a href="#" class="button">button</a></td>
    </tr>

    <tr class="dmidnight-bg">
      <td>dmidnight</td><td><a href="#" class="button">button</a></td>
    </tr>

  </table>

</fieldset>