<% content_for :content do %>

<section class="container">
  <div class='row col-xs-8 col-xs-offset-2 white-bg'>

    <div>
      <%= container :my_honor_roll_posts %>
    </div>

    <div>
      <%= container :my_comments %>
    </div>

  </div>
</section>

<% end %>
<%= render template: "layouts/templates/default" %>