<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  	<body>
  		Your activity "<%= @pledge.title %>" has reached the number of people it requires.  Now you need to make the activity happen. 
	</body>
</html>