<div id="membership_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="plato-says"><img src='/images/plato-notification.png' /></div
    ><div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <div id="membership-signup">
          <h1><%= render :partial=>"partials/membership_popup_title" %></h1>
          <div class="promo-content">
            <div class="promo1">
              <%= render :partial=>"partials/membership_popup_promo1" %>
            </div>

            <div class="signup">
              <%= render_portlet "Member Sign Up" %>
            </div>

            <!--form method="post" action="">
              Enter your email and a password to start:
              <div class="email_form">
                <input type="email" name="email" placeholder="email@email.com" />
                <input type="password" name="password" placeholder="password" />
                <input type="password" name="password_confirm" placeholder="password" />
              </div>
              <div class="terms-check">
                <input type="checkbox" name="tos" />
                I have read the <a href="/terms">terms of service</a>
              </div>
              <div class="go_button">
                <input type="submit" value="Go" />
              </div>
            </form-->
            <div class="terms-check">
              <p>Already registered? <a href="/login">Sign In</a>
            </div>
            <!--div class="promo2">
              <%= render :partial=>"partials/membership_popup_promo2" %>
            </div-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#membership_modal').modal()
</script>