        <div style="text-align:center"><h2>Checkout Form</h2></div>
        <div style="text-align:center;margin:0 auto;width:453px;">
	   <%= form_for(@pledge) do |f| %>
            <table style="width: 100%;text-align:left;">
	            <tr>
		            <td style="width: 255px">First Name</td>
		            <td>Last Name</td>
	            </tr>
	            <tr>
		            <td style="width: 255px">
			<%= f.text
		            <td>
		            <input id="text2" type="text" style="width: 205px" /></td>
	            </tr>
	            <tr>
		            <td style="width: 255px">&nbsp;</td>
		            <td>&nbsp;</td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 23px;">Company Name (optional)</td>
		            <td style="height: 23px"></td>
	            </tr>
	            <tr>
		            <td colspan="2">
		            <input id="text3" type="text" style="width: 500px" /></td>
	            </tr>
	            <tr>
		            <td style="width: 255px">&nbsp;</td>
		            <td>&nbsp;</td>
	            </tr>
	            <tr>
		            <td style="width: 255px">Street Address</td>
		            <td>&nbsp;</td>
	            </tr>
	            <tr>
		            <td style="height: 26px;" colspan="2">
		            <input id="text4" type="text" style="width: 500px" /></td>
	            </tr>
	            <tr>
		            <td style="width: 255px">&nbsp;</td>
		            <td>&nbsp;</td>
	            </tr>
	            <tr>
		            <td style="width: 255px">City or Town</td>
		            <td>State/Prov</td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 29px;">
		            <input id="text5" type="text" style="width: 205px" /></td>
		            <td style="height: 29px">
		            <input id="text6" type="text" style="width: 64px" /></td>
	            </tr>
	            <tr>
		            <td style="width: 255px">&nbsp;</td>
		            <td>&nbsp;</td>
	            </tr>
	            <tr>
		            <td style="width: 255px">Postal Code</td>
		            <td>Country</td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 45px;">
		            <input id="text7" type="text" style="width: 205px" /></td>
		            <td style="height: 45px">
		            
			            <select name="Select1" style="width: 120px">
			            <option></option>
			            <option selected="selected">Unite States</option>
			            <option>Argentina</option>
			            <option>Australia</option>
			            <option>Belgium</option>
			            <option>Brazil</option>
			            <option>Canada</option>
			            <option>Chaina</option>
			            <option>Chile</option>
			            <option>Colombia</option>
			            <option>Costa Rica</option>
			            <option>Mexico</option>
			            </select>
		            </td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 26px;">
		            <strong>Credit Card Information</strong></td>
		            <td style="height: 26px">
		            </td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 23px;" colspan="2"><img src="cards.png" alt="accepted cards"/></td>
	            </tr>
	            <tr style="display:none;">
		            <td style="width: 255px; height: 23px;" colspan="2">
			            Name on the Card
                        <br /><input id="text11" type="text" style="width: 205px" />
                    </td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 26px;" colspan=2">
		            Card Number
                    <br />
                    <input id="text12" type="text" style="width: 239px" />
		            </td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 26px;" colspan="2">Expiration date<br />
			            <select name="Select2" style="width: 51px">
			            <option></option>
			            <option>Jan</option>
			            <option>Feb</option>
			            <option>Mar</option>
			            <option>Apr</option>
			            <option>May</option>
			            <option>Jun</option>
			            <option>Jul</option>
			            <option>Aug</option>
			            <option>Sep</option>
			            <option>Oct</option>
			            <option>Nov</option>
			            <option>Dec</option>
			            </select>&nbsp;&nbsp;
		            <input id="text13" type="text" style="width: 59px" />
		            </td>
	            </tr>
                <tr>
		            <td style="width: 255px; height: 26px;">
                    <br /><br />
		            <strong>Contact Information</strong></td>
		            <td style="height: 26px">
		            </td>
	            </tr>
	            <tr>
		            <td style="width: 255px; height: 23px;">Email Address</td>
		            <td style="height: 26px"></td>
	            </tr>
	            <tr>
		            <td style="height: 26px;" colspan="2">
		            <input id="text8" type="text" style="width: 409px" /></td>
	            </tr>
	            <tr>
		            <td style="height: 26px;">Daytime phone</td>
		            <td style="height: 26px;">Evening Phone</td>
	            </tr>
	            <tr>
		            <td style="height: 25px;">
		            <input id="text9" type="text" style="width: 224px" /></td>
		            <td style="height: 25px;">
		            <input id="text10" type="text" style="width: 221px" /></td>
	            </tr>
                <tr>
                    <td colspan="2" style="height:26px;" align="center">
	                    <input name="Submit1" style="width: 179px" type="submit" value="Checkout" />
                    </td>
                </tr>
            </table>
	   <% end %>
            </div>
