<% curr = 0 %>
<% colors = [:pink, :yellow, :blue, :blue, :yellow, :green, :orange, :pink, :green] %>

<div id='recent_honor_roll_posts_portlet' class="recent_posts_portlet">
  <h2 class="row col-xs-12">Honor Roll</h2>

  <div class="row">
    <% 3.times do |i| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <% if @honor_roll_posts[curr] %>
          <%= render :partial => "cms/honor_roll_posts/honor_roll_post_summary", :locals => {honor_roll_post_summary: @honor_roll_posts[curr], size: :small, color: colors[curr]} %>
        <% end %>
        <% curr += 1 %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% 6.times do |i| %>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <% if @honor_roll_posts[curr] %>
          <%= render :partial => "cms/honor_roll_posts/honor_roll_post_summary", :locals => {honor_roll_post_summary: @honor_roll_posts[curr], size: :thumb, color: colors[curr]} %>
        <% end %>
        <% curr += 1 %>
      </div>
    <% end %>
  </div>

  <div class="more_link">
    <a href="/lessonfinder" class="button">View Full Honor Roll</a>
  </div>
</div>