body 
{
    margin:0 auto;
    text-align:center;
	background: #37302c;
}

.slider-container
{
	position: relative;
	width:800px;
	top: 0px;
	left: 0px;
	z-index:0;
	text-align:center;
}

.slider-container img
{
	width: 800px;
}

#frontpage-container
{
	width: 800px;
	margin: 0 auto;
	margin-top: -30px;
	top: 0px;
}

#frontpage-header
{
	background-image: url("/assets/Header.png");
	width: 800px;
	height: 408px;
}

#frontpage-content
{
	background-image: url("/assets/BG Repeat.png");
	width: 800px;
	min-height: 200px;
	background-repeat: repeat-y;
}

#mainContent 
{
    width: 801px;
    margin: 0 auto;
    text-align: left;
}

#logoLoginNav
{
    margin-top:25px;
    height:120px;
}

#logo 
{
    width:110px;
    float:left;
}

#login 
{
    width:60px;
    float:right;
    text-align:right;
}

#login a 
{
    text-decoration:none;
}

#nav 
{
    width:500px;
    float:right;
    position:relative;
    top:76px;   
}

.navLink
{
    float:left;
    width:100px;
    text-align:center;
}

#fbFeatured
{
    width:620px;
	padding:10px;
	position:relative;
	z-index:0;
	margin-left:120px;
}

#fbfriends
{
    width:280px;
    text-align:center;
    float:left;
   
}

#featuredEvents
{
    width:280px;
    text-align:center;
    float:left;
}

#legal
{
    text-align:center;
    position:relative;
	width: 800px;
	background-image: url("/assets/Bottom.png");
    font-size:8pt;
	margin: 0 auto;
	color:white;
	height: 82px;
	padding-top: 20px;
  float: left;
  margin-top:0px;
}

#ui-datepicker-div
{
    font-size: 13px;
}

#showCustomMessageOption
{
    text-align:right;
    margin-top:25px;
    margin-bottom:20px;
    cursor:pointer;
    color:blue;
}

#customMessageTextBox
{
    display:none;
}

#customMessageHeading
{
    text-align:left;
}

#inviteFriends
{
    width:424px;
    margin:0 auto;
    text-align:center;
}

#inviteYourFriendsHeader
{
    text-align:center;
    
}

#emailAddressHeader
{
    text-align:left;
}

#emailPreviewBox
{
    border:1px dotted grey;
    text-align:left;
    height: 166px;
    overflow-y: scroll;
}

#eventDetailsContainer
{
    position:relative;
    left:60px;
    float:left;
    margin-right:30px;
    width:420px;
}

#eventDetailsContainer div
{
    margin-bottom:25px;
}

#createNewEvent
{
    text-decoration:none;
    float:right;
    margin-right:30px;
    position:absolute;
    right:400px;
}

.eventDetailLabel
{
    float:left;
    font-weight:bold;
    width:140px;
}

.eventDetailValue
{
    float:left;
    width:247px;
}

#eventDetailBox
{
    float:left;
    margin-right:30px;
    position:relative;
    border:1px dotted gray;
    height:232px;
    width:230px;
    text-align: center;
}


#friendEventDetailBox
{
    float:left;
    margin-right:30px;
    position:relative;
    border:1px dotted gray;
    height:232px;
    width:230px;
    text-align: center;
}

#progressbar
{
    width: 161px;
    margin:0 auto;
    height:2px;
    text-align:left;
}

#eventDetailsHeader
{
    text-align:center;
    font-weight:bold;
    padding-bottom:15px;
}

#pageBodyContainer
{
  background-color:white;
  float:left;
  padding-bottom:80px;
  width:100%;
} 

#makeAPledge
{
  font-size:20px;
  text-align:center;
  position: relative;
  top:30px;
}
}