// sass --watch cal.scss:cal.css

$green: #42858e;
$gray: #f2f2f2;
$red: #be1e2d;
$light-gray: #c5c5c5;
$light-red: #ebbbc0;

body {
  max-width: 800px;
  margin: 1em auto;
}

%title {
  background-color: $green;
  color: white;
}

a {text-decoration: none; color: inherit;}

h1 {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  @extend %title;
  margin: 0;
}

.Sun, .Sat {color: $red;}

.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .month {
    width: 31%;

    .name {
      text-align: center;
      @extend %title;
      margin: 0.75em 0 0 0;
    }

    .day-names {
      display: flex;
      justify-content: space-around;
      background-color: $gray;
      font-weight: bold;
      padding: 0.3em 0;
    }

    .days {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .day {
        width: 1/7 * 100%;
        text-align: center;

        &.in-month-false {color: $light-gray;}
        &.Sun.in-month-false, &.Sat.in-month-false {color: $light-red;}
      }
    }
  }

}