//Mobile breakpoints
$desktop-width: 960px;
$small-width: 568px;
$med-width: 768px;

@mixin xsmall {
  @media (max-width: $small-width - 1) {
    @content;
  }
}

@mixin small {
  @media (min-width: $small-width) {
    @content;
  }
}

@mixin med-sm {
  @media (max-width: $med-width - 1) {
    @content;
  }
}

@mixin med {
  @media (min-width: $med-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $desktop-width - 1) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@include desktop { .mobile-only {display: none !important;}  }
@include mobile { .desktop-only {display: none !important;} }
@include med { .med-sm-only {display: none !important;} }
@include med-sm { .med-only {display: none !important;} }
@include small { .xsmall-only {display: none !important;} }
@include xsmall { .small-only {display: none !important;} }


/** To Use */
.mobile-test {
  @include desktop {
    padding: 3em;
  }

  @include mobile {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}